/* .MuiTypography-body1 {
  FONT-WEIGHT: 600;
  font-size: 1rem;
  font-family: "Poppins", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.00938em;
} */
.d_grid_4{
  display: grid;
  grid-template-columns: auto 50px auto auto auto;
  grid-gap: 10px;
}
.sideBtn:hover {
  color: #2a7be4;
  transition: 0.3s ease-in-out all;
}
.sideBtn {
  transition: 0.3s ease-in-out all;
  cursor: pointer;
}
.MuiPaper-elevation4 {
  box-shadow: none !important;
}
.carousel-item-padding-40-px li {
  width: inherit !important;
}
.row {
  --bs-gutter-x: 0 !important;
}
p {
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
}

.w-5 {
  width: 5% !important;
  transition: 0.3s ease-in-out all;
}
.w-15 {
  transition: 0.3s ease-in-out all;
  width: 15% !important;
}
.w-85 {
  transition: 0.3s ease-in-out all;
  width: 85% !important;
}
.w-95 {
  transition: 0.3s ease-in-out all;
  width: 95% !important;
}
.css-yk16xz-control {
  background-color: #f9fafd !important;
}
.css-1wa3eu0-placeholder {
  color: #344050 !important;
}
.input_txt,
.css-1uccc91-singleValue {
  padding: 2px 15px;
  background-color: #f2f8fe;
  border: 1px solid #b3b3b3;
  border-radius: 5px;
}
.input_txt {
  padding: 5px 15px;
  height: 42px;
  background-color: #f9fafd;
  display: inline-block;
}
/* input field date */
input {
  position: relative;
  width: 150px;
  height: 20px;
  color: white;
}

input:before {
  position: absolute;
  top: 3px;
  left: 3px;
  content: attr(data-date);
  display: inline-block;
  color: black;
}

input::-webkit-datetime-edit,
input::-webkit-inner-spin-button,
input::-webkit-clear-button {
  display: none;
}

/* input::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 3px;
  right: 0;
  color: black;
  opacity: 1;
} */
input[type="date"] {
  height: 42px;
  width: 100%;
  border-radius: 5px;
  background-color: #f9fafd;
  border: 1px solid #b3b3b3;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}

.mobile-menu p {
  font-size: 25px;
  cursor: pointer;
  color: #2c2c2c;
}

.d-only-mobile {
  display: block;
  transition: 0.3s ease-in-out all;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .d-none-mobile {
    display: none;
  }
  .w-85 {
    transition: 0.3s ease-in-out all;
    width: 100% !important;
  }
  .w-95 {
    transition: 0.3s ease-in-out all;
    width: 100% !important;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .d-none-mobile {
    display: none;
  }
  .d-only-mobile{
    display: block;
  }
  .w-85 {
    transition: 0.3s ease-in-out all;
    width: 100% !important;
  }
  .w-95 {
    transition: 0.3s ease-in-out all;
    width: 100% !important;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .d-none-mobile {
    display: none;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .d-none-mobile {
    display: block;
  }
  .d-only-mobile{
    display: none;
  }
  .w-85 {
    transition: 0.3s ease-in-out all;
    width: 85% !important;
  }
  .w-95 {
    transition: 0.3s ease-in-out all;
    width: 95% !important;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .d-none-mobile {
    display: block;
  }
  .w-85 {
    transition: 0.3s ease-in-out all;
    width: 85% !important;
  }
  .w-95 {
    transition: 0.3s ease-in-out all;
    width: 95% !important;
  }
}
