/* .MuiTypography-body1 {
  FONT-WEIGHT: 600;
  font-size: 1rem;
  font-family: "Poppins", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.00938em;
} */

.MuiPaper-elevation4{
  box-shadow: none!important;
}