@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;800&display=swap");
body {
  margin: 0;
  background-color: #fff!important;
  font-family: "Poppins"!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: 0.3s ease-in-out all;
}

code {
  font-family: "Poppins"!important;
}
